.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 20vw;
    width: 100vw;
    overflow: hidden;
    position: fixed;
    z-index: 4;
    .logo-wrapper{
        display: flex;
        align-items: center;
        justify-content: center;
        .name-logo{
            font-family: 'Great Vibes', cursive;
            font-size: 44px;
            font-weight: 600;
            cursor: pointer;
        }
        img{
            height: 60px;
        }
    }
    .list-wrapper{
        display: flex;
        align-items: center;
        span{
            margin-left: 40px;
            cursor: pointer;
        }
    }
}
.particles-cover{
    overflow:hidden;
    .navbar{
        color: black;
        position: absolute;
        right: 0px;
        font-weight: 600;
        background:linear-gradient(90deg, white 80%, transparent 20%);
    }
}