.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 20vw;
    width: 100vw;
    .name-logo{
        font-family: 'Great Vibes', cursive;
        font-size: 44px;
        font-weight: 600;
        cursor: pointer;
        position: relative;
        z-index: 1;
    }
    .list-wrapper{
        display: flex;
        align-items: center;
        span{
            position: relative;
            margin-left: 40px;
            cursor: pointer;
            z-index: 1;
        }
    }
}
.particles-cover{
    overflow:hidden;
    .navbar{
        color: black;
        position: absolute;
        right: 0px;
        font-weight: 600;
        background:linear-gradient(90deg, white 80%, transparent 20%);
    }
}