.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 10vw;
  width: 100vw;
  position: fixed;
  z-index: 6;
  transition: all .3s linear; 
  &.scrolled {
    padding: 15px 10vw;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.664);
    background: rgba(0, 0, 0, 0.95);
  }
  a{
      text-decoration: none;
      color: white;
      &:active{
          color: white;
      }
  }
  .logo-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      cursor: pointer;
      height: 40px;
    }
  }
  .list-wrapper {
    align-items: center;
    span {
      font-weight: 600;
      margin-left: 35px;
      cursor: pointer;
      
      a {
        text-decoration: none;
        color: white;
        cursor: pointer;
        padding: 8px;
        font-size: 0.95rem;
      }
    }
  }
  .nav-toggler {
    height: 18px;
    width: 22px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    display: none;
    cursor: pointer;
    .bar {
      height: 2px;
      width: 100%;
      background-color: rgb(255, 255, 255);
    }
  }
}
@media screen and(max-width: 768px) {
  .navbar {
    padding: 15px 5vw;
    
    &.scrolled {
      padding: 12px 5vw;
    }
    
    .nav-toggler {
      display: flex;
    }
    
    .list-wrapper {
      position: fixed;
      top: 0;
      left: 0;
      height: 100vh;
      width: 100vw;
      background-color: black;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 30px;
      transition: all 0.3s ease-in-out;
      
      &.off {
        opacity: 0;
        pointer-events: none;
      }
      
      span {
        margin: 0;
        
        a {
          font-size: 1.2rem;
        }
      }
    }
  }
}
@media screen and(min-width: 1250px) {
  .navbar:not(.scrolled) {
    background: -webkit-linear-gradient(
      0deg,
      rgb(255, 255, 255) 70%,
      rgb(0, 0, 0) 30%
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
